.infoDere{
    display: contents;
}
.infoDere form{
    width: 90% ;    
    display: flex;  
    flex-direction: column;     
    justify-content: center;
    align-items: center;    
    height: 300 px;

}
.infoDere form input{
    background-color: aliceblue;
    border-radius: 15 px;
    border: none;
    height: 35 px;
}
